OMS_DB_SERVICE=lavanya_oms
PGSERVICEFILE=/etc/lavanya-backup/pg_service.conf
PGPASSFILE=/etc/lavanya-backup/pgpass
RCLONE_CONFIG=/etc/lavanya-backup/rclone.conf
OMS_BACKUP_REMOTE=omscrypt:LavanyaOMS-backups
OMS_BACKUP_LOCK=/var/lib/lavanya-backup/job.lock
